{% set logo = theme_var('custom_logo') %} {% set logo_file = (logo|first).name %}

<header style="{% if header.appearance.textcolor %}color:{{header.appearance.textcolor}};{%endif%}height:{{header.appearance.height}}vh;background-color:{{header.appearance.backgroundcolor}}" class="hero">
  {% if header.content.backgroundvideo %}
  {# does video need to be in a div? #}
  <div style="height:{{header.appearance.height}}vh;" class="background">
    <video class="media" preload="metadata" autoplay loop muted>
      <source src="{{header.content.backgroundvideo}}" type="video/mp4">
    </video>
  <div style="background:{{header.appearance.backgroundcolor}};opacity:{{ header.appearance.opacity/100 }};height:{{header.appearance.height}}vh;" class="overlay"></div>
  </div>
  {% endif %}
  <div class="content">
    {% if header.noimage == false %}
    {# does img need to be in a div? #}
    <img class="logo" src="{{ url('theme://images/logo/' ~ logo_file)  }}" alt="">
    {% endif %}
    <div>
      <h1>{% if header.content.header %} {{header.content.header}} {% else %}{{ site.title }}{% endif %}</h1>
      <p>{{ header.content.body|markdown }}</p>
      <div class="button-rows">
      {% for row in header.rows %}
      <div class="noborderflex">
        {% for button in row.buttons %}
        <a href="{{ button.link }}" style="{% if button.customcolor %}background:{{button.customcolor}};{% endif %}" class="button {{button.color}}">{{ button.text }}</a>
        {% if not loop.last %}&nbsp;{% endif %}
        {% endfor %}
      </div>
      {% endfor %}
      </div>
    </div>
  </div>
</header>