{% if theme_var('custom_logo') %}
{% set logo = theme_var('custom_logo') %}
{% set logo_file = (logo|first).name %}
{% else %}
{% set logo = null %}
{% set logo_file = 'logo.png' %}
{% endif %}

<header style="{% if header.appearance.textcolor %}color:{{header.appearance.textcolor}};{%endif%}height:{{header.appearance.height}}vh;background-color:{{header.appearance.backgroundcolor}}" class="hero">
  {% if header.content.backgroundvideo or header.content.backgroundimage %}
  <div style="height:{{header.appearance.height}}vh;" class="background">
    {% if header.content.backgroundvideo %}
    <video class="media" preload="metadata" autoplay loop muted>
      <source src="{{header.content.backgroundvideo}}" type="video/mp4">
    </video>
    {% endif %}
    {% if header.content.backgroundimage %}
    <img src="{{header.content.backgroundimage}}" alt="" class="media">
    {% endif %}
  <div style="background:{{header.appearance.backgroundcolor}};opacity:{{ header.appearance.opacity/100 }};height:{{header.appearance.height}}vh;" class="overlay"></div>
  </div>
  {% endif %}
  <div class="plainflex center grow content">
    {% if header.content.noimage == false %}
    <div class="logocontainer">
      <img src="{% if header.content.overlayimage %}{{header.content.overlayimage}}{% else %}{{ url('theme://images/logo/' ~ logo_file)  }}{% endif %}" alt="">
    </div>
    {% endif %}
    <div class="calltoaction">
      <h1>{% if header.content.header %} {{header.content.header}} {% else %}{{ site.title }}{% endif %}</h1>
      <p>{{ header.content.body|markdown }}</p>
      <div class="button-rows">
      {% for row in header.rows %}
      <div class="plainflex">
        {% for button in row.buttons %}
        <a href="{{ button.link }}" style="{% if button.customcolor %}background:{{button.customcolor}};{% endif %}" class="button {{button.color}}">{{ button.text }}</a>
        {% if not loop.last %}&nbsp;{% endif %}
        {% endfor %}
      </div>
      {% endfor %}
      </div>
    </div>
  </div>
</header>