{% if link %}
<a href="{{ link }}">
    {% endif %}
    <header>
        {% if icon %}
        <span style="color:{{ color }}"
            class="{{ icon }} icon {% if link %}fadeout{% endif %}"></span>
        {% endif %}
        {% if image %}
        <img class="image {% if link %}fadeout{% endif %}" src="{{ image }}" alt="">
        {% endif %}
        {% if imageurl %}
        <img class="image {% if link %}fadeout{% endif %}" src="{{ imageurl }}" alt="">
        {% endif %}
        <br>
        <h class="{% if link %}link{% endif %}">{{ header }}</h>
    </header>
    {% if link %}
</a>
{% endif %}