{% if icon.link %}
<a href="{{ icon.link }}">
    {% endif %}
    <header>
        {% if icon.icon %}
        <span style="color:{{ icon.color }}"
            class="{{ icon.icon }} icon {% if icon.link %}fadeout{% endif %}"></span>
        {% endif %}
        {% if icon.image %}
        <img class="image {% if icon.link %}fadeout{% endif %}" src="{{ icon.image }}" alt="">
        {% endif %}
        {% if icon.imageurl %}
        <img class="image {% if icon.link %}fadeout{% endif %}" src="{{ icon.imageurl }}" alt="">
        {% endif %}
        <br>
        {% if icon.smalltext %}
        <p class="{% if icon.link %}link{% endif %}">{{ icon.smalltext }}</p>
        {% endif %}
        {% if icon.header %}
        <h class="{% if icon.link %}link{% endif %}">{{ icon.header }}</h>
        {% endif %}
    </header>
    {% if icon.link %}
</a>
{% endif %}