{% extends 'blogbase.html.twig' %}
{% block blogcontent %}
    <div class="flex two">
            {% for post in page.collection %}
            <div>
                <article class="card">
                    <a href="">
                        <img src="/img/forest.jpg">
                    </a>
                    <footer>
                        <p class="datestamp"><span class="fa fa-calendar"></span> date goes here</p>
                        <a href="{{post.url}}">
                            <h3>{{post.title}}</h3>
                        </a>
                        <p>{{post.summary|raw}}</p>
                    </footer>
                </article>
                {% endfor %}
            </div>
            {% for post in page.collection %}
            <div>
                <article class="card">
                    <a href="">
                        <img src="/img/forest.jpg">
                    </a>
                    <footer>
                        <p class="datestamp"><span class="fa fa-calendar"></span> date goes here</p>
                        <a href="{{post.url}}">
                            <h3>{{post.title}}</h3>
                        </a>
                        <p>{{post.summary|raw}}</p>
                    </footer>
                </article>
            </div>
            {% endfor %}
    </div>
{% endblock %}